<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Amebo: Home</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <header>
      <nav>
          <div class="page-logo">AmeboBlog</div>
          <div class="search-bar">
            <input type="text" name="Search" placeholder="Search"><button class="search-button" type="submit" >
              <img class="search-img" src="/icons/search.svg" alt="">
            </button>
          </div>
          <div class="menu-links">
              <div class="menu-button">
                <div><a href="/">Home</a></div>
              </div>
              <div class="menu-button">
                <div>About</div>
              </div>
              <div class="menu-button">
                <div>Contact us</div>
              </div>
          </div>
      </nav>
    </header>
    <main>
