<%- include( "partials/header"); -%>

      <div class="blog-content">
          <div class="blogs">
            <h2>
              <%= post.name %>
            </h2>
            <p>
              <%= post.content %>
            </p>
          </div>
      </div>

  <%- include("partials/footer"); -%>
